body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e9c8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    text-align: center;
}

#thank-you-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-top: 10px;
}